
/*-------------------------------------------
  Copyright Simple Solutions, 2022
  Revised: 2022/06/13 00:17
-------------------------------------------*/

//Standard includes
#include <windows.h>
#include <afxres.h>

//Custom includes
#include "..\include\resource.h"
#include "..\include\controls.h"

//Window icon
IDI_APPICON ICON "..\\assets\\images\\mainicon.ico"

//Toolbar custom bitmap
IDB_TBBITMAP_LARGE_COLOR BITMAP "..\\assets\\images\\TB_BTNSET_CLRSTD.bmp"

//manifest file
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "..\\Manifest\\ServiceControl.exe.manifest"

//About dialog
IDD_ABOUT DIALOGEX DISCARDABLE 255, 30, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 10, "Arial"
BEGIN
	GROUPBOX "About this program...",IDC_STATIC,7,7,225,52
	CTEXT "A graphical user interface (GUI) for the windows sc.exe (Service control) command line interface program\r\n\r\nPlease consider supporting...",IDC_STATIC, 16, 18, 210, 33
END