
//Standard includes
#include <windows.h>
#include <afxres.h>

//Custom includes
#include "..\include\resource.h"
#include "..\include\controls.h"

//https://docs.microsoft.com/en-us/windows/win32/menurc/resources

IDI_APPICON ICON "..\\assets\\images\\mainicon.ico" //Window icon

//manifest file
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "..\\Manifest\\ExampleApp.exe.manifest"

IDM_MAINMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit", IDMI_MAINMENU_FILE_EXIT
		MENUITEM "&Minimize", IDMI_MAINMENU_FILE_MIN
	END
	POPUP "&Authentication"
	BEGIN
		MENUITEM "Log &in", IDMI_MAINMENU_AUTH_LOGIN
		MENUITEM "Log &out", IDMI_MAINMENU_AUTH_LOGOUT
	END
	POPUP "M&odeless"
	BEGIN
		MENUITEM "&Show", IDMI_MAINMENU_DIALOG_SHOW
		MENUITEM "&Hide", IDMI_MAINMENU_DIALOG_HIDE
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About", IDMI_MAINMENU_HELP_ABOUT //Model dialog window
	END
END

IDD_ABOUT DIALOGEX DISCARDABLE 0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON "&OK",IDOK,174,18,50,14
	PUSHBUTTON "&Cancel",IDCANCEL,174,35,50,14
	GROUPBOX "About this program...",IDC_STATIC,7,7,225,52
	CTEXT "An example program showing how to use Win32 API\r\n\r\nby -Construct-",IDC_STATIC,16,18,144,33
END